<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings></appSettings>

	<connectionStrings>
		<add name="ConnectionString" connectionString="Server=.;Database=DVLD2;User Id=sa;Password=123456;"/>
	</connectionStrings>
</configuration>